

script(type='text/javascript', src='/js/jquery.js')
script(type='text/javascript', src='/js/bootstrap.min.js')
script(type='text/javascript', src='/js/bootstrap-table.js')
script(type='text/javascript', src='/js/bootstrap-table-export.js')
script(type='text/javascript', src='/js/jquery.base64.js')
script(type='text/javascript', src='/js/tableExport.js')
script(type='text/javascript', src='/js/fileinput.js')


