doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title 用户注册
        link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='css/style.css')
    body
        // 导航
        nav#nav.navbar.navbar-default.navbar-fixed-top
            .container
                .row
                    .col-md-12
                        .navbar-header
                            button.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a.navbar-brand(href='#')
                                img(src='img/logo.png')
                        .navbar-collapse.collapse
                            ul.navbar-nav.navbar-right.nav
                                li
                                    a(href='/') 首页
                                li
                                    a(href='/login') 登录
                                li
                                    a(href='/login') 管理面板
                                li
                                    a(href='联系我们.html') 联系我们
        // 导航
        // 联系我们
        section#contact
            .lvjing
                .container
                    .row
                        .col-md-6.wow.fadeInLeft
                            h2
                                span.glyphicon.glyphicon-send
                                |  联系我们
                            p
                                | “城来城往”项目定位于“互联网+交通运输”，是一个服务于用户与司机之间的平台。与滴滴出行和Uber不同，后两者的业务领域主要是在城市之内的短距离乘车运输，我们本项目的业务领域定位于“城际运输”，以方便人们在临近城市之间的来往。
                            address
                                p
                                    span.glyphicon.glyphicon-home
                                    |  地址:山东省济南市章丘市文化路888号
                                p
                                    span.glyphicon.glyphicon-phone-alt
                                    |  联系电话：18765837066
                                p
                                    span.glyphicon.glyphicon-envelope
                                    |  邮箱:328675698@qq.com
                        .col-md-6.wow.fadeInRight
                            form(action='#', method='get')
                                .col-md-6
                                    input.form-control(type='text', placeholder='您的姓名')
                                .col-md-6
                                    input.form-control(type='email', placeholder='您的邮箱')
                                .col-md-12
                                    input.form-control(type='text', placeholder='标题')
                                .col-md-12
                                    textarea.form-control(placeholder='留言内容', rows='4')
                                .col-md-8
                                    input.form-control(type='submit', value='提交')
        // 联系我们
        // footer
        section#footer.bottom
            .container.text-center
                .row
                    .col-md-2.col-sm-3.col-xs-6
                        h3 新手入门
                        p
                            a(href='#')
                                | 用户入门
                        p
                            a(href='#')
                                | 司机入门
                    .col-md-2.col-sm-3.col-xs-6
                        h3 拼车指南
                        p
                            a(href='#')
                                | 用户指南
                        p
                            a(href='#')
                                | 司机指南
                    .col-md-2.col-sm-3.col-xs-6
                        h3 关于我们
                        p
                            a(href='#')
                                | 常见问题
                        p
                            a(href='#')
                                | 加入我们
                    .col-md-2.col-sm-3.col-xs-6
                        h3 联系我们
                        p
                            | 电话:
                            br
                            a(href='#')
                                | 400-818-7878
                        p
                            | 邮箱:
                            br
                            a(href='#')
                                | 328675698@qq.com
                    .col-md-2.col-sm-6.col-xs-6
                        h3 用户端
                        small 扫描二维码开始下载
                        img(src='img/erwei.jpeg')
                    .col-md-2.col-sm-6.col-xs-6
                        h3 司机端
                        small 扫描二维码开始下载
                        img(src='img/erwei.jpeg')
                    #copyright.col-md-12.col-sm-12.col-xs-12
                        p Copyright © 2012-2015  城来城往版权所有  
                        p 蜀ICP备13014270号-4
        // footer
        script(type='text/javascript', src='js/jquery-1.12.0.min.js')
        script(type='text/javascript', src='js/bootstrap.min.js')
